<!-- <div class="sign-up-card">
    <h3>SignIn</h3>
    <div class="input-div">
        <label for="Email">Email</label>
        <input type="email" placeholder="Email">
    </div>
    <div class="input-div">
        <label for="Password">Password</label>
        <input type="password" placeholder="Password">
    </div>
    <div class="btn">Sign In</div>
    <p>Don't have account? <a href="/SignUp">Sign Up</a></p>
</div> -->

<div class="box">
    <form class="box" action="index.html" method="post">
      <h1>LOGIN</h1>
      <input type="text" placeholder="username" />
      <input type="password"  placeholder="password">
      <input class="log" type="submit" value="Login" />
    <a class="anchor" href="/ForgotPassword">Forgot password?</a>
    </form>
  </div>