/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 100vh;
    width: 100%;
}

.sign-up-card{
    background-color: #222;
    color: #fff;
    width: 350px;
    padding: 30px 20px;
    border-radius: 10px;
}

.sign-up-card h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-div label{
    margin-bottom: 5px;
}

.input-div input{
    display: block;
    width: 80%;
    padding: 10px 20px;
    border: 2px solid #1B98F5;
    border-radius: 5px;
    transition: 0.4s ease;
}

.input-div input:focus{
    outline: none;
    border: 2px solid #2827CC;
}

.btn{
    display: block;
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(45deg, #1B98F5, #23C4ED);
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.4s ease;
}

.btn:hover{
    background: linear-gradient(45deg, #383CC1, #23C4ED);
    cursor: pointer;
}

p a{
    margin-left: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
} */

body{
    background-color:#273b57;
  }
  .box h1{
    color:white;
    font-family:verdana;
    font-weight:200;
    text-align:center;
    
  }
  .box{
    background-color:#273b57;
    width:405px;
    height:500px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:12px;
  }
  input[type="text"], input[type="password"], .log{
    border:0;
    background:none;
    display:block;
    border:2px solid #0077B6;
    padding:15px 25px;
    text-align :center;
    border-radius:25px;
    margin:15px auto;
    outline:none;
    color:white;
    transition:width 0.25s; 
    width: 200px;
    transition:width 0.25s;
    font-size:15px;
  }
  input:focus{
   width:240px;  
  }
  .log{
    color:#DEE2E6;
    border-color:#02C39A;
    width:100px;
    background-color:none;
    transition:background-color .3s;
  }
  .log:hover{
    cursor:pointer;
    background-color:#02C39A;
    color:white;
  }
  .log:focus{
    width:100px;
    background-color:#02C39A;
    cursor:pointer;
  }
  .anchor{
    color:#DEE2E6;
    font-family:system-ui;
    margin-left:10px;
  }
  .anchor:hover{
    color:white;
  }
  