<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

<body>
    <div class="hero">
      <h1>Contact us on...</h1>

      <div class="social-links">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    
  </body>
  <footer style=background-color:aquamarine>
    <p>&copy; Gmail Servises. All right reserved..Call 8074732836</p>
  </footer>
  