
<img class="img" src='/assets/Images/gmail.jpg'>
<div class="box">
    
    <h3>Compose Mail</h3>
  <form action="/action_page.php">
    <label class="lbl">From :</label>
    <input type="text" id="fname" name="frommail" placeholder="Your mail....">

    <label class="lbl">To :</label>
    <input type="text" id="lname" name="tomail" placeholder="To mail....">

    <label class="lbl">Type Mail :</label>
    <textarea id="lname" name="massage" rows="4" cols="50"  placeholder="write here...."></textarea>
  
    <input type="submit" value="Send">
  </form>
</div>